@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
h1 {
  margin: 30px 30px;
  text-align: center;
}
.menu-container {
  display: block;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.menu {
  /* border: 1px solid; */
  display: inline-block;
  width: 30%;
  text-align: left;
}

.search {
  /* border: 1px solid; */
  display: inline-block;
  width: 50%;
  text-align: left;
}

.search input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  padding: 5px;

}

.basket {
  /* border: 1px solid; */
  display: inline-block;
  width: 20%;
  text-align: right;
}

ul > li {
  border: 1px solid #ccc;
  list-style: none;
  text-align: center;
  display: inline;
  padding: 10px;
  margin: 10px 10px 10px 0px;
  background: #eee;
  cursor: pointer;
}

.basket ul > li {
  border: 1px solid #ccc;
  list-style: none;
  text-align: center;
  display: inline;
  padding: 10px;
  margin: 10px 0px 10px 10px;
  background: #eee;
  cursor: pointer;
}
